.terminal {
  display: flex;
  flex-direction: column;

  &__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #585858;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
    font-size: 18px;

    &--el {
      margin: 0px 5px;
      cursor: pointer;
    }
  }

  &__body {
    height: 70vh; //93
    background-color: black;
    overflow-y: scroll;
    line-height: 1.8em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.dropbtn {
  cursor: pointer;
  background-color: #585858;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  background-color: #585858;
}

.dropdown-content a:hover {background-color: #373636;}
.dropdown:hover .dropdown-content {display: block;}


.font-size-panel {
    display: flex;
    
    &__el {
        margin: 0px 5px;
        cursor: pointer;
    }
}


.body-output {
  color: #fff;
  margin: 0px 4px;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: pre;
}

.body-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 4px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 10px;

  &__main-root {
    color: chartreuse;
  }

  &--symbols {
    color: #fff;
  }

  &__input-field {
    margin-left: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    flex: 1 1 0%;
    border: none;
    outline: none;
  }
}
