.terminal {
    display: flex;
    flex-direction: column;

    &__header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #585858;
        height: 4vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #fff;
        font-size: 18px;

        &--el {
            margin: 0px 5px;
            cursor: pointer;
        }

        &--el:hover {
            color: rgb(253, 185, 185);
        }
    }

    &__body {
        height: 93vh;
        background-color: rgb(29, 29, 29);
        overflow-y: auto;
        line-height: 1.5em;
    }
}

.body-output {
    color: #fff;
    margin: 0px 4px;
    font-family: 'Source Sans Pro', sans-serif;
}

.body-input {
    display: flex;
    flex-direction: row;
    margin: 0px 4px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 10px;

    &__main-root {
        color: chartreuse;
    }

    &--symbols {
        color: #fff;
    }

    &__input-field {
        flex: 1 1 0%;
        border: none;
        outline: none;
        background-color: rgb(29, 29, 29);
        color: #fff;
    }
}
